table{
    text-align:center;
    border-collapse: collapse;
    margin-left: 20%;
    margin-top: 70px;
}
h1{
    color: aqua;
}
td{
    padding-left: 10px;
    padding-right: 10px;
}
td > ul > li{
    list-style-type: none;
    color: rgb(111, 110, 110);
}
td > ul :first-child{
    text-align: left;
}
tr:nth-child(even){
    padding: 10px;
    background-color:rgba(179, 177, 177, 0.343);
}
[name="Details"]{
    color: rgb(74, 74, 241);
}
[name="Details"]:hover{
    color: rgb(59, 0, 176);
    cursor: pointer;
}
.head-row th{
    padding: 20px;
}

@media screen and (max-width:750px){
    table{
        margin-left:10px;
        width: fit-content;
    }
    td{
        font-size: small;
    }
}

